#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timer{
  display: flex;
  justify-content: center;

  p{
    font-size: 150px;
    background-color: rgba(255, 255, 255, 0.148);
    width: 500px;
    height: 250px;
    border-radius: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
}

.btn{
  padding: 30px 120px;
  font-size: 26px;
  text-transform: uppercase;
  background-color: #2541B2;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  color: #f5f5f5;
}

.btn-break,
.btn-reset{
  padding: 25px 100px;
}

.btn-start{
  background-color: #25b233;
}

.btn-reset{
  background-color: #f30202bc;
}

.btn:hover{
  opacity: 0.7;
}

/* responsive */
@media screen and (max-width:700px) {
  .timer p{
    width: 250px;
    height: 110px;
    font-size: 70px;
  }

  .btn{
    padding: 20px 70px;
    font-size: 20px;
  }

  .btn-break,
  .btn-reset{
    padding: 20px 50px;
  }
}